div.poker{ display: block;
width: 150px;
height: 150px;

background-color: gold;
position: relative;
border-radius: 150px;
border: 1px solid #FFC107;
box-shadow: 0 5px 5px rgba(31, 28, 0.73);

}
div.poker:after, div.poker:before{ 
content: ' ';
display: block;
width: 20px;
height: 20px;
background-color: black;
border-radius: 20px;
position: absolute;
top: 30px;
}
div.poker:after{ left: 30px;

}
div.poker:before{ 
right: 30px;
}
div.mouth{
	display: block;
	width: 70px;
	height: 40px;
	margin-top: 20px;
	margin-left:10px;
	margin-top:25px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	
	
	background-color: black;
	position: relative;
	top: 60px;
	left: 30px;
}
.teeth{
	
	height: 10px;
	background: white;
	width: 60px;
	margin-left: 5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-top: 1px;
	transform: translateY(2px);
}
