div.heart{ display: block;
width: 100px;
height: 100px;
background-color: red;
position: relative;
transform: rotateZ(-45deg);
border-top-left-radius:190px;
}
div.heart:after,div.heart:before{ display: block;
content: ' ';
width: 100px;
height: 100px;
background-color: red;
border-radius: 50px;
position: absolute;
}
div.heart:after{ top: -50px;
left: 0;
}
div.heart:before{ top": 0;
left: 50px;
}